.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
}
.fondoLol {
  background-image: url(../img/lol.png);
  background-size: cover;
}
.fondoClash {
  background-image: url(../img/clashroyale.jpg);
  background-size: cover;
}
.fondoFifa {
  background-image: url(../img/fifa.jpg);
  background-size: cover;
}
.fondoPUBG {
  background-image: url(../img/pubg.jpg);
  background-size: contain;
}
.fondoGTS {
  background-image: url(../img/gts.jpg);
  background-size: cover;
}
.fondoFortnite {
  background-image: url(../img/fortnite.jpg);
  background-size: cover;
}
.fondo {
  height: 250px;
}
a {
  text-decoration: none;
  color: #fff;
}
.rainbow-button {
  width: calc(10vw + 3px);
  height: calc(3vw + 1.5px);
  background-image: linear-gradient(
    90deg,
    #00c0ff 0,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 700;
}

.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
  color: black;
}
@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
